*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #401835;
    overflow-x: hidden;
    padding-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #36142d;
    color: #fff;
    padding: 100px 20px 120px;
    text-align: center;
    position: relative;
}

.gradient-text{
    background: #21d19c;
    background: linear-gradient(227deg,rgba(33, 209, 156, 1) 0%, rgba(83, 35, 161, 1) 69%, rgba(104, 25, 115, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: -2px;
    line-height: 1.1;
}

.subtitle{
    font-size: 1.5em;
    margin-bottom: 50px;
    color: #D9564A;
    font-weight: 300;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button{
    display: inline-block;
    background: linear-gradient(227deg,rgba(33, 209, 156, 1) 0%, rgba(83, 35, 161, 1) 69%, rgba(104, 25, 115, 1) 100%);
    color: #ffffff;
    padding: 20px 60px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.hero-button:hover{
    transform: scale;
    box-shadow: 0 0 40px rgb(70, 132, 143);
}
